<%= form_with model: @inventory_item, local: true, html: {novalidate: true} do |form| %>

  <% if @inventory_item.errors.any? %>
    <div id="error_explination">
      <h2>
        <%= pluralize(@inventory_item.errors.count, "error") %>
        prohibited this item from being saved
      </h2>
      <ul>
        <% @inventory_item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :item_name %>
    <%= form.text_field :item_name %>
  </p>

  <p>
    <%= form.label :amount %>
    <%= form.number_field :amount %>
  </p>

  <p>
    <%= form.label :cost_per %>
    <%= form.number_field :cost_per %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
