<h1>New Inventory Item</h1>
<%= form_with scope: :inventory_item, url: inventory_items_path, local: true do |form| %>
  <% if @inventory_item.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@inventory_item.errors.count, "error") %>
        prohibited this item from being saved:
      </h2>
      <ul>
        <% @inventory_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= form.label :item_name %>
    <%= form.text_field :item_name %>
  </p>

  <p>
    <%= form.label :amount %>
    <%= form.number_field :amount %>
  </p>

  <p>
    <%= form.submit %>
    <%= link_to 'Back', inventory_items_path %>
  </p>
  <% end %>
